body{
    background: #333;
}
h1{
    text-align: center;
    color: white;
    margin: 100px;
}
span{
    text-transform: uppercase;
    padding: 10px 15px;
    border: 4px solid #FAEC81;
    border-radius: 50px;
    animation: welcome 2s linear infinite;
    opacity: 0.3;
}
@keyframes welcome{
    50%{
        opacity: 1;
    }
}
